.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  background-color: var(--header-bg-color, #fff);
  color: var(--header-text-color, #000);

  .nickName {
    margin-left: 6px;
    color: inherit;
    cursor: pointer;
  }
}

.left,
.right {
  display: flex;
  align-items: center;
}

:global(html[data-theme='dark']) {
  --header-bg-color: #1f1f1f;
  --header-text-color: #fff;
}
