# auto-install-peers=true
# node-linker=hoisted

registry=https://registry.npmmirror.com/

#electron_mirror=https://registry.npmmirror.com/-/binary/electron/

#electron_builder_binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/
#@zhongbo:registry=http://47.96.14.5:30480/